<div class="action-buttons">
  <button class="button" (click)="navigate(route.USE_VALUE)">USE VALUE</button>

  <button class="button" (click)="navigate(route.USE_CLASS)">USE CLASS</button>

  <button class="button" (click)="navigate(route.USE_FACTORY)">USE FACTORY</button>

  <button class="button" (click)="navigate(route.USE_EXISTING)">USE EXISTING</button>

  <button class="button" (click)="navigate(route.TOKEN_PROPS)">TOKEN PROPS</button>
</div>

<div class="preview">
  <h1 class="label">PREVIEW</h1>
  <router-outlet></router-outlet>
</div>
